.Main-SignUp
{
    padding: 5em;
    display: flex;
    gap: 3em;
    box-shadow: 0 3px 20px 0 rgb(0 0 0);
    background-color: royalblue;
    margin: 7em;
}

.background-signup
{
    background-image:url('./signup2.jpg') ;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 43em;
    transition: 0.5s;
}
.background-signup:hover
{
    background-image: url('./signup.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 40em;
    transition: 0.5s;
}
.SignUp
{
    background-color: #fafafa;
    padding: 3em;
}
.row1, .row2 {
    border-bottom: 1px royalblue dashed;
    padding: 1em;
}
.row3
{
    text-align: center;

}
.text-row3
{
    font-size: 23px;
    font-weight: 800;
    padding-bottom: 1em;
    padding-top: 1em;
}
.btn-row3
{
    display: flex;
    justify-content: space-around;
    
}
@media (max-width:1200px)
{
    .Main-SignUp
    {
        width: 85em;
    }
}
