.slideshow {
    margin: 0 auto;
    overflow: hidden;
    width: 94em;
    height: auto;
    
  }
  
  .slide {
    height: 500px;
    width: 100%;
    display: inline-block;
    background-color: #6a0dad;
  }
  .slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;

  }

  .slideshowDots {
    text-align: center;
  }
  .slideshowDot {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin: 15px 7px 0px;
    background-color: #c4c4c4;
  }
  
  .slideshowDot.active {
    background-color: #6a0dad;
  }
  